<h2>Search Results</h2>
  <% if @found_results.empty? %>
    <h3 class="label">No results found.</h3>
  <% else %>
    <ul>
    <% @posts.each do |post| %>
    <li><%= link_to  post.title %></li>
    <% end %>
    </ul>
  <% end %>
