<h2>See all posts by location</h2>

<%= paginate @posts %>
<ul>
  <% @locations.each do |location| %>
    <li>
      <%= link_to location.name, location %>
      <ul>
        <% location.categories.each do |location_category| %>
          <li><%= link_to location_category.name, [location, @category] %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

<% if current_user.admin? %>
  <%= render 'admin_delete_spam' %>
<% end %>
