<h2><%= link_to "Locations", :locations %></h2>
<h2>Posts</h2>
All your posts belong to us

<h2>All Posts</h2>

<%= paginate @posts %>
<ul>
  <% @posts.each do |post| %>
    <li>
    <%= link_to post.title, post %>
    </li>
  <% end %>

<% if current_user.admin? %>
  <%= render 'admin_delete_spam' %>
<% end %>
