@mixin dashboard-background-color{
  background-color: rgba(0, 12, 37, 0.9);
}

@mixin admin-background-color{
  background-color: rgba(220, 220, 220, 0.7);
}

.main-dashboard {
  @include span-columns(8);
  @include dashboard-background-color;
  
  border: 4px solid #F5F39D;
  border-radius: 20px;
  padding: 20px;
}
.main-dashboard div {
  color: white
}

.left-container {
  @include span-columns(4);

  padding: 0px;
  margin: 0px;
}

.quick-links {
  @include dashboard-background-color;

  border: 4px solid #F5F39D;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  margin-top: 0px;
}

.new-post-dash {
  @include dashboard-background-color;

  border: 4px solid #F5F39D;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.admin_section {
  @include admin-background-color;

  border: 1px solid #cccccc;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.admin_section h3 {
  margin-top: 5px;
}

.post_content_box {
  @include span-columns(3);
  
  width: 40%;
  float: left;
}

.photo_box {
  width: 55%;
  float: right;
}

.photo_box h2 {
  align: left;
}

.photo_box img {
  align: center;
} 

.error_text {
  color: red;
}
