h1 {
  color: #FFFF66;
  font-size: 4em;
  margin: 20px;
  text-align: center;
  text-shadow: 0.1em 0.1em #333;
}
.top-page {
  text-align: center;
}
.sign-out {
  color: white;
}

.sign-out a {
  color: white;
  text-decoration: underline;
}
