h1 {
  color: #F5F39D;
  font-size: 4em;
  margin: 20px;
  text-align: center;
  text-shadow: 0.1em 0.1em #333;
}
.top-page {
  text-align: center;
}
.sign-out {
  color: white;
}

.sign-out a {
  color: white;
  text-decoration: underline;
}
h2 {
  color: rgba(249, 247, 255, .9);
  font-size: 2.5em;
}
h3 {
  color: #F5F39D;
}
