.location-list a {
  font-size: 2em;
}

.category-list a {
  font-size: 1em
}
.location-list {
  list-style-type: disc;
}
label {
  color: white;
  display: inline-block;
}
.form-label {
  color: white;
  font-size: 1.6em;
  font-weight: bold;

}
