@import "bourbon";
@import "base/base";
@import "neat";

body {
  background-image: url("great-outdoors.jpg");
}

.outer-container {
  background: white;
  padding: 75px;
  border: 5px solid #FFFF66;
  @include outer-container;
}
h1 {
  text-align: center;
  text-shadow: 0.1em 0.1em #333;
  color: #FFFF66;
  margin: 20px;
  font-size: 4em;
}
li {
  margin: 20px
}
