<h2>Enter the URL of the Image You'd Like to Add</h2>

<%= form_for @image do |form| %>
  <%= form.label :remote_url %>
  <%= form.text_field :remote_url %>
  <%= form.submit "Add image" %>
<% end %>
